.container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #ff00cc;
  margin: 0px 0px 15px 0px;
}

.Dropdown {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: rgba(225, 0, 255, 45%);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
}

.Dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: rgba(225, 0, 255, 25%);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
  color: #ff00cc;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
}

.Dropdown__toggle {
  background-color: #ff00cc;
  color: white;
  border: none;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px rgb(0 0 0 / 15%);

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}
